@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap')
@import '@styles/template'

*, *:before, *:after
	margin: 0

*
	font-family: 'Oswald', sans-serif
	box-sizing: border-box
	user-select: none
	-webkit-tap-highlight-color: transparent
	transition: .15s

input
	outline: none

h2
	text-align: center

ul
	padding: 0
	list-style-type: none

body
	width: 100vw
	height: 100vh
	background: white
	font-size: calc(1vmin + .33em)
	color: rgba(0, 0, 0, 0.6)

body > div
	width: 100%
	height: 100%
	display: grid
	place-items: center

.rootWrapper
	width: 100%
	max-width: 800px
	height: 100%
	transition: .5s
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	// overflow-x: hidden

.title
	width: 100%
	display: flex
	align-items: center
	justify-content: center

	h2
		font-size: 1.2rem
		display: block
		padding: 1rem 0
		width: 100%
		height: 100%
		flex: 1 1 0
		cursor: pointer
		&:hover
			transform: translate(0, -.25rem)
	
.main
	flex: 1 1 auto
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.board
	cursor: pointer
	width: 40vmin
	height: 40vmin
	display: grid
	margin-bottom: 1rem
	place-items: center
	&:hover
		transform: translate(0, -.5rem)
	&:hover span
		opacity: .75
	& > span
		display: block
		text-transform: uppercase
		opacity: .25

.sliderWrapper
	display: flex
	justify-content: center
	align-items: center
	height: 3rem
	width: 100%

.sliderWrapperInner
	height: $slider-height
	width: $slider-width

.sliderTrack
	position: relative
	z-index: 2
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: transparent
	&:before, &:after
		content: ''
		height: 1.5rem
		width: 100vw
		position: absolute
		background-color: transparent
		left: calc(50%)
		transform: translateX(-50%)
	&:before
		bottom: 0rem
	&:after
		top: 0rem

.sliderPoint
	z-index: 3
	border-radius: 50%
	position: absolute
	height: 1rem
	width: 1rem
	left: -0.5rem
	top: -0.4rem
	transition: 0.15s top, 0.33s transform, 0.2s left cubic-bezier(0,.28,.71,.99)

.footer
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: center
	margin: 0 1rem
	img
		width: 2rem
		height: 2rem
		display: inline block
		margin-right: .5rem
		&:hover
			transform: translate(0, -.25rem)
	
	.favoriteCellList
		height: 4rem
		display: flex
		align-items: center
		width: auto
		overflow-x: auto

	.favoriteCell
		display: inline-block
		margin-right: .5rem
		background: transparent
		min-width: 2rem
		width: 2rem
		min-height: 2rem
		height: 2rem
		animation: popUpNewFavoriteColor .5s ease
		cursor: pointer
		&:hover
			transform: translate(0, -.5rem)

@keyframes popUpNewFavoriteColor
	from
		transform: translateY(-2rem)
		filter: opacity(0)
	to
		transform: translateY(0)
		filter: opacity(1)




	







::-webkit-scrollbar
	cursor: pointer
	width: 8px
	height: 8px
	border-radius: 3px 0px 0px 3px
::-webkit-scrollbar-track
	background-color: rgba(0, 0, 0, .1)
	border-radius: 3px
::-webkit-scrollbar-thumb
	border-radius: 3px
::-webkit-scrollbar-track
	background-color: rgba(0, 0, 0, .1)
::-webkit-scrollbar-thumb
	background-color: rgba(0, 0, 0, 0.25)
::-webkit-scrollbar-thumb:hover
	background-color: rgba(0, 0, 0, 0.5)
