$board-size: 15
$cell-gap: 0.3rem
$cell-size: calc(85vmin / #{$board-size} - #{$cell-gap})
$cell-border-radius: calc(#{$cell-size} / 5)

@mixin ticCell
	background-image: url('@/img/tic.png')
	background-color: $tic-color

$slider-width: 45vmin
$slider-height: 0.25rem

@mixin flex
	display: flex
	justify-content: center
	align-items: center

@mixin flexReverse
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

@mixin hoveredAndActivated
	&:hover
		transform: translate(0, -.5rem)
	&:active
		transform: translate(0, -.25rem)

